*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  background-image: url("../public/IMG/fondo-dia@2x.png");
  background-repeat: repeat-x;
  background-size: contain;
  height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    align-items: center;
}
#logo{
  width: 10rem;
}